.api-list {
  --arrow-size: 32px;
  --transition-duration: 300ms;
}

.api-list .api-list-item {
  margin: 10px;
  border-radius: var(--border-radius);
  padding: 10px;
  transition:
    var(--transition-duration) background-color,
    var(--transition-duration) height;
  box-sizing: border-box;
  overflow: hidden;
}

.api-list .api-list-item.open {
  background-color: var(--color-dark);
}

.api-list .api-list-item .name-container {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  gap: 1em;
}

.api-list .api-list-item .name-container .domain {
  font-size: var(--font-size-display);
  flex-grow: 1;
  flex-shrink: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.api-list .api-list-item .name-container .arrow {
  flex-grow: 0;
  flex-shrink: 0;
  transition: var(--transition-duration) transform;
}

.api-list .api-list-item.open .name-container .arrow {
  transform: rotate(0);
}

.api-list .api-list-item.closed .name-container .arrow {
  transform: rotate(180deg);
}

.api-list .api-list-item .api-sub-items {
  margin-top: 17px;
  display: block;
  opacity: 1;
  transition: var(--transition-duration) opacity;
}

.api-list .api-list-item.closed .api-sub-items {
  opacity: 0;
}

.api-list .api-list-item .api-sub-items .api-sub-item {
  margin-top: 12px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

.api-list .api-list-item .api-sub-items .api-sub-item .logo {
  width: var(--logo-size-small);
  height: var(--logo-size-small);
  flex-basis: var(--logo-size-small);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  flex-grow: 0;
  flex-shrink: 0;
}
.api-list .api-list-item .api-sub-items .api-sub-item .title {
  font-size: var(--font-size-title);
  flex-grow: 1;
  flex-shrink: 1;
}
