:root {
  --font-size-body: 16px;
  --font-size-display: 24px;
  --font-size-large: 32px;

  --color-text: white;
  --color-main: #00A1D4;
  --color-background: #42607B;
  --color-dark: #1A2632;
  --color-overlay: rgba(0, 0, 0, 0.7);

  --font-family: Inter, sans-serif;
  --content-max-width: 960px;
  --sidebar-width: 520px;
}

html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: var(--font-family);
  font-size: var(--font-size-body);
  font-weight: 400;
  color: var(--color-text);
  background-color: var(--color-background);
}

.overlay {
  z-index: 100;
  position: fixed;
  inset: 0;
  background-color: var(--color-overlay);
  transition: 150ms opacity;

  opacity: 0;
  transform: translateY(-100%);
}

.overlay.showing {
  transform: translateY(0);
}

.overlay.showing:not(.exiting) {
  opacity: 1;
}

.overlay.exiting {
  transition: 200ms opacity;
}

.sidebar {
  position: fixed;
  height: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  z-index: 200;
  transition: transform 200ms;
  padding: 20px;
  max-width: var(--sidebar-width);
  width: 100%;
  background-color: var(--color-background);
}

.sidebar.closed {
  transform: translateX(100%);
}

.sidebar.open {
  transform: translateX(0);
}

.sidebar .sidebar-header{
  font-size: var(--font-size-display);
  font-weight: 500;
  text-align: center;
}

#view-index {
  width: 100%;
  height: 100%;
  display: grid;
  justify-content: center;
  align-content: center;
}